# Python
__pycache__/
*.pyc
myenv/
.venv/
venv/

# Vector DB
Fetching/vector_store/
Fetching/documents_registry.json
Fetching/upload_meta.json

# Temp files
temp.pdf

# Node
node_modules/
dist/

# Env files
.env

# Logs
*.log

.env